<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand fw-bold" href="/">Blogify</a>

    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Content -->
    <div class="collapse navbar-collapse" id="navbarText">
      <!-- Left Links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>

        <% if (locals.user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/blog/add-new">Add Blog</a>
          </li>
        <% } %>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">
        <% if (locals.user) { %>
          <li class="nav-item">
            <span class="nav-link text-light">
              👋 
            </span>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" href="/user/logout">Logout</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/user/signin">Signin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"" href="/user/signup">
              Signup
            </a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<% if (locals.error) { %> <div class="container m-auto my-5"> <div class="alert alert-danger" role="alert"><%= locals.error %></div> </div> <% } %>