<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>

    <title>SIGNUP</title>
</head>
<body>

    <%- include('./partials/navbar') %>

    <div class="container mt-5">
        <h2>Signup Here</h2>
        <form action="/user/signup" method="POST">
            <div class="mb-3">
                <label for="fullName" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="fullName" placeholder="Enter your username" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="example@gmail.com" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>

    <%- include('./partials/scripts') %>
    
</body>
</html>